{{template "base" .}}

{{define "title"}}Home{{end}}

{{define "main"}}
<h2>Latest Uploads</h2>
{{/* <p>Future Gallery will be here</p> */}}
{{if .Images}}
<table>
<tr>
<th>Filename</th>
<th>Data Uploaded</th>
<th>Description</th>
<th>Image ID</th>
</tr>
{{range .Images}} </tr>
<td>{{.Filename}}</td>
<td>{{humanDate .Created}}</td>
<td>{{.Description}}</td>
<td>#{{.ID}}</td>
{{end}} </table>
<div class="center-button">
<td>
  <input type="file" id="upload-btn" name="filename" hidden/>
  <label for="upload-btn">Choose File</label>
  <input type="submit">
</td>
</div>
{{else}}
<p>No new images uploaded look at galleries</p>
{{end}} {{end}}
